.navigation {
  visibility: visible;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: var(--body-color);
  color: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-size: var(--logo-font-size);
  margin-left: 1rem;
  font-family: var(--font-family-name-logo);
  color: var(--accent-color);
  transition: 0.33s;
}

.logo:hover {
  color: var(--secondary-color);
}

.navigation-menu {
  margin-left: auto;
  z-index: 10;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li .link {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: var(--nav-size);
}

.navigation-menu li .link:link,
.navigation-menu li .link:active,
.navigation-menu li .link:visited {
  color: var(--font-color);
}

.current-page {
  border-bottom: 2px solid var(--accent-color);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: var(--accent-light-color);
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 1279px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: var(--dark-color);
    border-top: 1px solid var(--dark-color);
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li .link {
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: var(--bg-wrap-color);
  }

  .navigation-menu.expanded ul {
    display: block;
  }
  .current-page {
    width: 10px;
  }
}