.main-container{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container{
  display: table-cell;
  vertical-align: middle;
  color: var(--disabled-color);
}

.container h1{
  font-size: var(--h1-size);
  display: inline-block;
}

.back-link {
  text-decoration: none;
  animation: attention 1.5s infinite;
}

@keyframes attention{
  from {
    color: gold;
  }
  50% {
    color: red;
  }
  to {
    color: gold;
  }
}