:root {
    /* шрифты и фоны */
    --body-color-dark: #191825;
    --bg-wrap-color-dark: #35335c;
    --font-color-dark: #fff;
    --dark-color-dark: #2B2A4C;

    /* в основном цвет кнопок */
    --secondary-color-dark: #FFA3FD;
    /* одна полоса of loader и тумблеры*/
    --third-color-dark: #03c457;
    /* лого, гамбургер, акценты */
    --accent-color-dark: #865DFF;
    --accent-light-color-dark: #7752FE;
    /* надписи страницы 404 */
    --disabled-color-dark: #A6979C;


    /* шрифты и фоны */
    --body-color-light: #FFD1E3;
    --bg-wrap-color-light: #FFD1E3;
    --font-color-light: #392467;
    --dark-color-light: #f79fc1;

    /* в основном цвет кнопок */
    --secondary-color-light: #A367B1;
    /* одна полоса of loader и тумблеры*/
    --third-color-light: #5D3587;
    /* лого, гамбургер, акценты */
    --accent-color-light: #A367B1;
    --accent-light-color-light: #A367B1;
    /* надписи страницы 404 */
    --disabled-color-light: #cac0c3;



    /* шрифты */
    --font-family-name-logo: Impact, Haettenschweiler, 'Arial Narrow Bold';

    --font-family-name-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    --font-family-name-curier: 'Courier New', Courier, monospace;
    --font-family-name-calibri: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    --font-family-name-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-name-roboto: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    /*
        Tahoma,
        Calibri,
        Segoe UI,
        Roboto,
    */

    --logo-font-size: 2rem;
    --p-font-size: 1.5em;
    --select-font-size: .75em;
    --h1-size: 3.5em;
    --h2-size: 2.5em;
    --underheader-size: 1em;
    --small-text-size: 11px;
    --nav-size: 1.2rem;
    --btn-font-size: 90%;


    /* мобильные размеры */
    --p-font-size-mobile: 1.1em;
    --select-font-size-mobile: 0.6em;
    --h1-size-mobile: 30px;
    --h2-size-mobile: 1.8em;
}

[data-theme='light'] {
    /* шрифты и фоны */
    --body-color: var(--body-color-light);
    --bg-wrap-color: var(--bg-wrap-color-light);
    --font-color: var(--font-color-light);
    --dark-color: var(--dark-color-light);

    /* в основном цвет кнопок */
    --secondary-color: var(--secondary-color-light);
    /* одна полоса of loader и тумблеры*/
    --third-color: var(--third-color-light);
    /* лого, гамбургер, акценты */
    --accent-color: var(--accent-color-light);
    --accent-light-color: var(--accent-light-color-light);
    /* надписи страницы 404 */
    --disabled-color: var(--disabled-color-light);
}

[data-theme='dark'] {
    /* шрифты и фоны */
    --body-color: var(--body-color-dark);
    --bg-wrap-color: var(--bg-wrap-color-dark);
    --font-color: var(--font-color-dark);
    --dark-color: var(--dark-color-dark);

    /* в основном цвет кнопок */
    --secondary-color: var(--secondary-color-dark);
    /* одна полоса of loader и тумблеры*/
    --third-color: var(--third-color-dark);
    /* лого, гамбургер, акценты */
    --accent-color: var(--accent-color-dark);
    --accent-light-color: var(--accent-light-color-dark);
    /* надписи страницы 404 */
    --disabled-color: var(--disabled-color-dark);
}

[data-font='franklin'] {
    --font-family-name: var(--font-family-name-franklin);
}

[data-font='curier'] {
    --font-family-name: var(--font-family-name-curier);
}

[data-font='calibri'] {
    --font-family-name: var(--font-family-name-calibri);
}

[data-font='segoe ui'] {
    --font-family-name: var(--font-family-name-segoe);
}

[data-font='roboto'] {
    --font-family-name: var(--font-family-name-roboto);
}
