:root {
    /* шрифты и фоны */
    --body-color-dark: #191825;
    --bg-wrap-color-dark: #35335c;
    --font-color-dark: #fff;
    --dark-color-dark: #2B2A4C;

    /* в основном цвет кнопок */
    --secondary-color-dark: #FFA3FD;
    /* одна полоса of loader и тумблеры*/
    --third-color-dark: #03c457;
    /* лого, гамбургер, акценты */
    --accent-color-dark: #865DFF;
    --accent-light-color-dark: #7752FE;
    /* надписи страницы 404 */
    --disabled-color-dark: #A6979C;


    /* шрифты и фоны */
    --body-color-light: #FFD1E3;
    --bg-wrap-color-light: #FFD1E3;
    --font-color-light: #392467;
    --dark-color-light: #f79fc1;

    /* в основном цвет кнопок */
    --secondary-color-light: #A367B1;
    /* одна полоса of loader и тумблеры*/
    --third-color-light: #5D3587;
    /* лого, гамбургер, акценты */
    --accent-color-light: #A367B1;
    --accent-light-color-light: #A367B1;
    /* надписи страницы 404 */
    --disabled-color-light: #cac0c3;



    /* шрифты */
    --font-family-name-logo: Impact, Haettenschweiler, 'Arial Narrow Bold', Arial;

    --font-family-name-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    --font-family-name-curier: 'Courier New', Courier, monospace;
    --font-family-name-calibri: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    --font-family-name-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-name-roboto: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    /*
        Tahoma,
        Calibri,
        Segoe UI,
        Roboto,
    */

    /* font size large */
    --logo-font-size-large: 2.2rem;
    --p-font-size-large: 1.7em;
    --select-font-size-large: .85em;
    --h1-size-large: 3.7em;
    --h2-size-large: 2.7em;
    --underheader-size-large: 1.2em;
    --small-text-size-large: 14px;
    --nav-size-large: 1.4rem;
    --btn-font-size-large: 90%;

    /* mobile font size */
    --p-font-size-mobile-large: 1.3em;
    --select-font-size-mobile-large: 0.8em;
    --h1-size-mobile-large: 40px;
    --h2-size-mobile-large: 2em;
    

    /* font size normal */
    --logo-font-size-normal: 2rem;
    --p-font-size-normal: 1.5em;
    --select-font-size-normal: .75em;
    --h1-size-normal: 3.5em;
    --h2-size-normal: 2.5em;
    --underheader-size-normal: 1em;
    --small-text-size-normal: 11px;
    --nav-size-normal: 1.2rem;
    --btn-font-size-normal: 75%;

    /* mobile font size */
    --p-font-size-mobile-normal: 1.1em;
    --select-font-size-mobile-normal: 0.6em;
    --h1-size-mobile-normal: 30px;
    --h2-size-mobile-normal: 1.8em;


    /* font size small */
    --logo-font-size-small: 1.8rem;
    --p-font-size-small: 1.3em;
    --select-font-size-small: .65em;
    --h1-size-small: 3.3em;
    --h2-size-small: 2.3em;
    --underheader-size-small: 0.8em;
    --small-text-size-small: 9px;
    --nav-size-small: 1rem;
    --btn-font-size-small: 90%;

    /* mobile font size */
    --p-font-size-mobile-small: 0.9em;
    --select-font-size-mobile-small: 0.4em;
    --h1-size-mobile-small: 10px;
    --h2-size-mobile-small: 1.6em;
}


/* THEMES */

[data-theme='light'] {
    /* шрифты и фоны */
    --body-color: var(--body-color-light);
    --bg-wrap-color: var(--bg-wrap-color-light);
    --font-color: var(--font-color-light);
    --dark-color: var(--dark-color-light);

    /* в основном цвет кнопок */
    --secondary-color: var(--secondary-color-light);
    /* одна полоса of loader и тумблеры*/
    --third-color: var(--third-color-light);
    /* лого, гамбургер, акценты */
    --accent-color: var(--accent-color-light);
    --accent-light-color: var(--accent-light-color-light);
    /* надписи страницы 404 */
    --disabled-color: var(--disabled-color-light);
}

[data-theme='dark'] {
    /* шрифты и фоны */
    --body-color: var(--body-color-dark);
    --bg-wrap-color: var(--bg-wrap-color-dark);
    --font-color: var(--font-color-dark);
    --dark-color: var(--dark-color-dark);

    /* в основном цвет кнопок */
    --secondary-color: var(--secondary-color-dark);
    /* одна полоса of loader и тумблеры*/
    --third-color: var(--third-color-dark);
    /* лого, гамбургер, акценты */
    --accent-color: var(--accent-color-dark);
    --accent-light-color: var(--accent-light-color-dark);
    /* надписи страницы 404 */
    --disabled-color: var(--disabled-color-dark);
}


/* FONT FAMILY */

[data-font='franklin'] {
    --font-family-name: var(--font-family-name-franklin);
}

[data-font='curier'] {
    --font-family-name: var(--font-family-name-curier);
}

[data-font='calibri'] {
    --font-family-name: var(--font-family-name-calibri);
}

[data-font='segoe ui'] {
    --font-family-name: var(--font-family-name-segoe);
}

[data-font='roboto'] {
    --font-family-name: var(--font-family-name-roboto);
}


/* FONT SIZE */

[data-font-size="large"] {
    --logo-font-size: var(--logo-font-size-large);
    --p-font-size: var(--p-font-size-large);
    --select-font-size: var(--select-font-size-large);
    --h1-size: var(--h1-size-large);
    --h2-size: var(--h2-size-large);
    --underheader-size: var(--underheader-size-large);
    --small-text-size: var(--small-text-size-large);
    --nav-size: var(--nav-size-large);
    --btn-font-size: var(--btn-font-size-large);

    /* мобильные размеры */
    --p-font-size-mobile: var(--p-font-size-mobile-large);
    --select-font-size-mobile: var(--select-font-size-mobile-large);
    --h1-size-mobile: var(--h1-size-mobile-large);
    --h2-size-mobile: var(--h2-size-mobile-large);
}

[data-font-size="normal"] {
    --logo-font-size: var(--logo-font-size-normal);
    --p-font-size: var(--p-font-size-normal);
    --select-font-size: var(--select-font-size-normal);
    --h1-size: var(--h1-size-normal);
    --h2-size: var(--h2-size-normal);
    --underheader-size: var(--underheader-size-normal);
    --small-text-size: var(--small-text-size-normal);
    --nav-size: var(--nav-size-normal);
    --btn-font-size: var(--btn-font-size-normal);

    /* мобильные размеры */
    --p-font-size-mobile: var(--p-font-size-mobile-normal);
    --select-font-size-mobile: var(--select-font-size-mobile-normal);
    --h1-size-mobile: var(--h1-size-mobile-normal);
    --h2-size-mobile: var(--h2-size-mobile-normal);
}

[data-font-size="small"] {
    --logo-font-size: var(--logo-font-size-small);
    --p-font-size: var(--p-font-size-small);
    --select-font-size: var(--select-font-size-small);
    --h1-size: var(--h1-size-small);
    --h2-size: var(--h2-size-small);
    --underheader-size: var(--underheader-size-small);
    --small-text-size: var(--small-text-size-small);
    --nav-size: var(--nav-size-small);
    --btn-font-size: var(--btn-font-size-small);

    /* мобильные размеры */
    --p-font-size-mobile: var(--p-font-size-mobile-small);
    --select-font-size-mobile: var(--select-font-size-mobile-small);
    --h1-size-mobile: var(--h1-size-mobile-small);
    --h2-size-mobile: var(--h2-size-mobile-small);
}


/* COUNT POSTS ON PAGE */

[data-pages="little"] {}
[data-pages="medium"] {}
[data-pages="much"] {}
