table, .content-td, .title-td {
    padding: 15px 0 15px;
}

.select {
    padding: 2px;
    width: 100%;
    height: 28px;
    border-radius:5px;
    float: right;
    min-width: 40px;
    background-color: var(--dark-color);
    color: white;
    font-size: var(--select-font-size);
}

.select option {
    font-size: var(--select-font-size);
}

.small-select {
    width: 60%;
}

.container {
    margin: 30px auto;
    display: block;
    justify-content: center;
    width: 70%;
    max-width: 500px;
    background-color: var(--bg-wrap-color);
    box-shadow: 0px 0px 22px 1px var(--accent-color);
    transition: 0.2s;
    border-radius: 10px;
    padding: 30px;
}

.container h2 {
    color: var(--font-color);
    font-family: var(--font-family-name);
    font-size: var(--h2-size);
    text-align: center;
}

.title-td, .content-td {
    color: var(--font-color);
    font-size: var(--p-font-size);
}

.table {
    margin: 10px auto;
    width: 90%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: var(--dark-color);
    box-shadow: 1px 0px 2px 1px var(--dark-color);
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: var(--third-color);
}

input:focus + .slider {
    box-shadow: -1px -1px 1px -0.5px #191825;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
    background-color: var(--disabled-color);
}

.slider.round:before {
    border-radius: 50%;
}

.reset-button {
    background: #e62143;
    color: #fff;
    cursor: pointer;
    width: 50%;
    display: flex;
    border: 0;
    border-radius: 11px;
    justify-content: center;
    font-weight: 700;
    font-size: var(--btn-font-size);
    font-family: var(--font-family-name-logo);
    line-height: 20px;
    padding: .8em 1em;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
}

.reset-button:hover {
    background: #831124;
}

@media screen and (max-width: 1279px) {
    h2 {
        font-size: var(--h2-size-mobile);
    }

    .container {
        width: 85%;
        margin: 130px auto 150px;
        padding: 20px;
        font-size: var(--p-font-size-mobile);
    }

    .select, option {
        font-size: var(--select-font-size-mobile);
        max-width: 110px;
    }

    .title-td {
        font-size: var(--p-font-size-mobile);
    }
}
