h4 {
  margin: 10px auto;
  font-size: var(--underheader-size);
}

h3 {
  text-align: center;
}

hr {
  margin: 0 auto;
  max-width: 150px;
  border: 1px solid var(--secondary-color);
}

.search-field {
    margin: 75px auto 0;
    display: block;
    text-align: left;
    width: 100%;
    max-width: 485px;
}

.search-btn {
  width: 20%;
  margin-left: 1%;
  padding: 0.5em 1.5em;
  background-color: transparent; 
  font-size: var(--btn-font-size);
  text-transform: uppercase;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.search-btn:active {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

#mini-button {
    font-size: var(--small-text-size);
    margin-left: 185px;
    color: var(--secondary-color);
}
  
#mini-button:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

input {
  width: 72%;
  height: 0.9em;
  padding: 0.71em 0.8em;
}

@media screen and (max-width: 1279px) {
  h4 {
    margin: 10px 5px;
  }

  input {
    width: 92%;
    height: 0.9em;
    padding: 0.71em 0.8em;
    margin-left: 5px;
  }

  .search-btn {
    width: 20%;
    margin: 3% 0 0 42%;
    padding: 1.5% 1.5%;
    font-size: var(--btn-font-size);
  }

  .search-field {
    margin: 75px auto 0;
    width: 90%;
    max-width: 485px;
  }

  #mini-button {
    margin-left: 280px;
  }
}
